<header class="white">

        <div class="icon">
                <a routerLink="/text" class="s"><img src="../../../assets/todo.png" alt="shopeamea" class="ss"></a>
        </div>


        <nav class="barra">
                <div class="enlaces">
                        <a routerLink="/text" class="hom">Home<img src="../assets/home.svg" alt="home"
                                        class="home2" ></a>
                        <a routerLink="/products" class="hom">Products<img src="../assets/produ.svg"
                                        alt="products" class="home2"></a>
                        <a routerLink="/form" class="hom" >Gestión<img src="../assets/gestion.svg"
                                        alt="gestion" class="home2"></a>
                </div>
        </nav>

</header>
<router-outlet></router-outlet>