.texto {
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 100px;   
}

.fondo {
    display: flex;
    background-color:#CCCCCC ;
}

.bold{
    font-size: large;
    font-weight: bold;
}

