.container .star-widget input{
    display: none ;
}
.container .star-widge input{
    display: none ;
}
.star-widget label{
    font-size: 15px;
    color: orange;
    padding:10px;
    position: relative;
}

.ss img{
    width: 20px;
}



.texto {
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column; 
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 100px;   
}

.fondo {
    display: flex;
    background-color:#CCCCCC ;
}
.card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 472px;
    margin: 40px;  
    
}
.card2{
    display: flex;
    flex-wrap: wrap; 
    
}

.card img{
    height: 150px;
    width: 250px;
}

.titulo1{
    font-size: large;
    color: #19191D;
     
}
.titulo2{
    font-size: large;
     font-weight:700;
    color:#000000
}

.titulo4{
    font-size: small;
    font-size: large;
    color: #787885;
}



