<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="fondo">

    <div class="texto">
        <h3>Listado de productos(8)</h3>
        <div class="card2">
            <div *ngFor="let product of products" class="card">
                <div>
                    <img [src]="product.image" alt="">
                </div>
                <p class="titulo1">{{product.description}}</p>
                <h2 class="titulo2">${{product.price}}</h2>
                <div class="container">
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                  

                </div>
                <p class="titulo3">{{product.stars}}</p>
                <p class="titulo4">{{product.name}}</p>
            </div>
        </div>
    </div>
</div>