<div class="fondo">
    <div class="texto">

<h2>Edición de productos</h2>

<form class="formulario">
    <p>Nombre del producto:</p>
    <input [(ngModel)]="producto.name" type="text" name="Nombre" placeholder="Por ej: Tiesto para planta" class="casilla">
    <p>Precio:</p>
    <input  [(ngModel)]="producto.price" type="number" name="precio"  placeholder="Por ej: 9.90" class="casilla">
    <p>Descripción</p>
    <input  [(ngModel)]="producto.description" type="text" name="descripcion"  placeholder="Por ej: Lo más vendido este mes" class="casilla">
    <p>Ruta de la imagen</p>
    <input  [(ngModel)]="producto.image" type="text" name="imagen"  placeholder="Por ej: http://fifi.com/img.jpg" class="casilla">
    <p>Opiniones:</p>
    <input  [(ngModel)]="producto.stars" type="number" name="stars"  placeholder="Por ej: 4.5" class="casilla">
<div>
    <button (click)="put()" class="editar">Guardar</button>
</div>
</form>
</div>
</div>
