.grey {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
}

p {
    
    display: flex;
    color: #FFFFFF;
    align-self: center;
    font-size: 14px;
font-weight: 500;
    
}

.atencion {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-self: center;
    padding: 37px;
   

}

a {
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    font-weight: 700;
}

